a {
    color: rgb(126, 28, 176);
}

body {
    color: #40514e;
    /* font-family: 'Playfair Display', serif;*/
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.1em;
    font-stretch: semi-expanded;
    margin: 0;
    text-align: center;    
}

h1 {
    color: rgb(126, 28, 176);
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
    margin: 50px 0 0;
}

h2 {
    color: #7e1cb0;
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0;
}

h3 {
    color: rgb(126, 28, 176);
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    margin: 0;
}

hr {
    color: rgb(195, 195, 195);
    border-style: dotted none none;
    border-width: 6px;
    margin: 50px auto 30px;
    width: 5%;
}

p {
    line-height: 1.5;
}

/***************** TOP CONTAINER *****************/
.bottom-cloud {
    position: absolute;
    left: 250px;
    top: 400px;
}

.pro {
    text-decoration: underline;
}


.subtitle {
    font-family: 'Roboto Condensed', sans-serif;
}

.top-cloud {
    position: absolute;
    right: 250px;
    top: 50px;
}

.top-container {
    background-color: rgb(226, 255, 249);
    padding-top: 100px;
    position: relative;
}

/***************** MIDDLE CONTAINER *****************/
.h2-skills, .h2-contact-me {
    margin: 50px 0 0;
}

.para-hello {
    margin: 20px auto;
    width: 40%;
}

/* .para-salsa {
    clear: left;
} 
*/

.profile-img {
    margin: 40px auto 20px;
    height: 300px;
    width: 300px;
}

.skill-img {    
    float: left;
    margin-right: 30px;
    width: 25%;
}

.skill-row {
    margin: 50px auto 100px auto;
    text-align: left;
    width: 50%;
}

/***************** BOTTOM CONTAINER *****************/
.bottom-container{
    background-color: #e0fff9;
    margin-top: 50px;
    padding: 30px 0 10px;
}

.btn {
    background-color: #c0fef1;
    border-radius: 1rem;
    font-family: 'Roboto Slab', serif;
    font-size: 1.2rem;
    font-variant: small-caps;
    font-weight: bold;
    padding: 5px 20px 10px;
    text-decoration: none;
}

.btn:hover {
    background-color: #e0fff9;
}

.footer-link {
    border-radius: 13px;
    color: rgb(126, 28, 176);
    font-size: 1.1rem;
    font-variant: small-caps;
    font-weight: bold;
    margin: 30px;
    padding: 2.5px 5px 5px;
    text-decoration: none;
}

.footer-link:hover {
    background-color: #c0fef1;
    color: rgb(176, 73, 228);
}

.h3-get-touch {
    margin: 20px auto 30px;
}

.para-footer {
    color: rgb(126, 28, 176);
    font-size: 0.75rem;
    font-weight: 600;
    margin-top: 30px;
}

.para-get-touch {
    margin: 30px auto 30px;
    width: 40%;
}